.vp-local-demo {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  p {
    font-size: 14px;
  }
  .button-demo {
    button + button {
      margin-left: 8px;
    }
    button {
      margin-bottom: 8px;
    }
  }

  .tag-demo {
    > span {
      + span {
        margin-left: 8px;
      }
      margin-bottom: 8px;
    }
  }
  a + a {
    margin-left: 8px;
  }
}
